<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cupcakes</title>
</head>
<body>
    <form action="/api/cupcakes" method="POST">
        <div>
            <label>Flavor</label>
            <input type="text" name="flavor">
        </div>
        <div>
            <label>Size</label>
            <input type="text" name="size">
        </div>
        <div>
            <label>Rating</label>
            <input type="text" name="rating">
        </div>
        <div>
            <label>Image URL</label>
            <input type="text" name="image">
        </div>
        <button>Submit</button>
    </form>
    <ul>Cupcakes:</ul>
    <!-- <script src="https://unpkg.com/axios/dist/axios.js"></script>
    <script src="main.js"></script> -->
</body>
</html>